// Place all the styles related to the Flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cards {
  display: flex;
  flex-direction: row;
}

.card {
  box-shadow: 2px 2px 12px grey;
  width: 20%;
  height: 150px;
}

li {
  list-style: none;
}